.categoryCard {
  margin: 10px 0;
}
.categoryCard .container {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.categoryCard .titleContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.categoryCard h3 {
  margin: auto;
  transition: 0.3s;
  font-weight: normal;
}
