.categorySlider {
  margin: 10px;
}
.categorySlider .container {
  position: relative;
  margin: auto;
  padding: 0 10px;
  height: 140px;
}

.categorySlider .categoriesContainer {
  display: flex;
  overflow-x: scroll;
}
.categorySlider .categoriesContainer::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.categorySlider .arrowCircle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: lightgray;
  margin: auto 0;
  display: flex;
  cursor: pointer;
}
.categorySlider .arrowIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
