.categoryCard {
  margin: 20px 0;
}
.categoryCard .container {
  background: rgb(36, 39, 43);
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  border-radius: 15px;
  cursor: pointer;
}

.categoryCard .titleContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.categoryCard h3 {
  margin: auto;
}
