.categorySlider {
  position: relative;
  margin: auto;
  width: 100%;
  padding: 0 10px;
}
.categorySlider .categoriesContainer {
  display: flex;
  overflow-x: scroll;
}
.categorySlider .categoriesContainer::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.categorySlider .slideArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: lightgray;
  margin: auto 0;
  display: flex;
  cursor: pointer;
}
