.home main {
  display: flex;
  flex-direction: column;
}
.home .categoriesContainer {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}

.home .notesContainer {
  color: grey;
  margin: 10px auto;
  font-size: 10px;
}
