.home {
}
.home .categoriesContainer {
  display: flex;
  justify-content: center;
}
.home .categoriesContainer .categoryCard {
  height: 100px;
  display: flex;
  transition: 0.3s;
  cursor: pointer;
}

.home .categoriesContainer .categoryCard h3 {
  margin: auto;
}

.home .verticalLine {
  width: 1px;
  height: 25px;
  background: gray;
  margin: auto 5px;
}
