.home .categoriesContainer {
  display: flex;
}
.home .categoriesContainer .categoryCard {
  padding: 20px;
  height: 100px;
  display: flex;
  transition: 0.3s;
}

.home .categoriesContainer .categoryCard h3 {
  margin: auto;
}
