.languageSelect {
  position: absolute;
  z-index: 2;
}
.languageSelect .container {
  display: flex;
}

.languageSelect .container .languageContainer {
  padding: 15px;
  cursor: pointer;
  color: white;
}
