.productCard {
  margin: 10px 0;
}
.productCard .container {
  padding: 0 10px;
}
.productCard .container .containerRow {
  display: flex;
}
.productCard .productImage {
  margin-right: 20px;
  display: flex;
}
.productCard .productImage img {
  height: 100%;
  width: 120px;
  border-radius: 7px;
  margin: auto;
  object-fit: cover;
  background: lightgray;
}

.productCard .productInfo {
  width: 100%;
}
.productCard .title {
  color: lightgray;
  margin: 0 0 10px 0;
  font-weight: normal;
}
.productCard .price {
  color: black;
  margin: 0 0 10px 20px;
  color: lightgray;
}
.productCard .description {
  color: grey;
  margin: 0;
  font-size: 14px;
  margin-top: 0px;
}
