.productCard .container {
  padding: 10px 10px 0 10px;
  min-height: 50px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.productCard .container .containerRow {
  display: flex;
  margin: auto 0;
}
.productCard .productImage {
  display: flex;
  border-radius: 7px;
  overflow: hidden;
  margin: auto;
  margin-right: 20px;
}
.productCard .productImage .image {
  height: 120px;
  width: 120px;
  border-radius: 7px;
  margin: auto;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.1);
}

.productCard .productInfo {
  width: 100%;
}
.productCard .title {
  margin: 0px 0 0px 0px;
  font-weight: normal;
}
.productCard .price {
  margin: 0px 0 0px 20px;
}
.productCard .description {
  margin: 0;
  padding-top: 10px;
  font-size: 14px;
  margin-top: 0px;
}
