.subCategory .titleContainer {
  cursor: pointer;
  height: 70px;
  display: flex;
  flex-direction: column;
  background: rgb(36, 39, 43);
}
.subCategory .titleContainer h3 {
  margin: auto 0;
}
.subCategory .row {
  display: flex;
  justify-content: space-between;
  margin: auto 20px;
}
.subCategory .arrowIcon {
  color: lightgray;
  margin: auto 0;
}
