.subCategory .titleContainer {
  cursor: pointer;
  height: 60px;
  display: flex;
  flex-direction: column;
  background: rgb(240, 240, 240);
}
.subCategory .titleContainer h3 {
  margin: auto 20px;
}
